@charset "utf-8";


/* main */
.nav-benefit ul {
    font-size: 0;
    border-top: 10px solid #e6e6e6;
}
.nav-benefit li {
    color: #333;
    display:inline-block;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    
}
.nav-benefit a{
    display:block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #666;
}
.nav-benefit li:first-child a {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #eee;
}
.nav-benefit li:last-child a {
    background: #fff;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    color: #333;
}

.theme-box-fix{
	position: fixed;
    z-index: 100;
    top: 0;
    margin:0;
    width:100%;
    padding:0px;
   

}

.theme-select {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    padding: 15px;
  
}
.theme-select select {
	width: 100%;
    height: 40px;
    color: #000;
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 4px 12px;
    background-size: 14px;
    appearance: none;
    background: url(../img/dropdown_1.png) no-repeat 96% center/ 12px;

  }
  .theme-select select:focus {
    outline:  none;
  }
  


.theme-art > img {
    width:100%;
}

.theme-art h2 {
    font-size: 18px;
    color: #000;
    padding: 15px;
    border-bottom: 1px solid #ededed;
}


.product-theme li {
    padding: 15px 10px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    font-size: 0;
    min-height: 130px;
    box-sizing: border-box;
}


.product-theme .img img {
    width: 100px;
    height: 100px;
}
.product-theme .box {
	width:100%;
}
.img {
   display: block;
   position: absolute;
}
.desc {
    display: block;
    line-height: 20px;
    padding-left: 120px;
  
}
.desc p {
    font-size: 14px;

}
.price-deli >p {
    display:inline-block;
}
.delivery img {
    width: 70px;
}

.rating img {
    width: 80px;
}

.op-icon  img{
    height: 20px; 
    margin-top: 12px;
    margin-right: 3px;

}














/*footer*/
footer {
    background: #f7f7f7;

}

footer .friend {
    border-top: 10px solid #ebebeb;
}

footer div {
    width: 100%;
    min-width: 320px;
}

footer h3 {

    color: #666;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    font-weight:bold;
}
footer .icon {
    width : 250px;
    margin: 0 auto;
    padding: 10px 0 10px 3%;
}
footer .icon a{
    display: inline-block;
    width:13%;
    margin-left: 7px;
}
footer .icon img{
    width: 30px;
    height: 30px;

}


.address-top {
    font-size: 13px;
    border-top:10px solid #ebebeb


}


.address-top div:first-child a {

    display:block;
    padding: 0px 15px;
    color: #666;
    float: left;
    border-right: 1px solid #999;
    font-weight: bold;
    margin: 15px 0px;

}
.address-top div:first-child a:last-child {
    border-style: none;
}
.address-top div:nth-child(2){
    padding: 5px 10px;
    min-width: 320px;
}

.address-top div:nth-child(2) a {
    padding: 10px 10px;
    display:inline-block;
    background-color: #fff;
    border : 1px solid #d9d9d9;
    text-align: center;
    border-radius: 4px;
    width: 20%;

}

address {
    color: #494848;
    font-size: 11px;
    line-height: 18px;
    padding: 10px 15px;
    margin-top: 10px;
    font-style: normal;
}
address a {
    text-decoration: underline;
    color: #999;

}
.address-call{
    font-weight:bold;
    font-size: 14px;
    color: #666;
}
.address-num{
    color:#f05623;
        font-size:14px;
        font-weight: bold;
}


/*--------------------------------------------------
우측 하단 최근 본 상품 버튼 및 위로가기 버튼
--------------------------------------------------*/
.recent-viewed-wrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.recent-viewed {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin-bottom: 10px;
    z-index: 100000;
}

.recent-viewed a img {
    width: 100%;
}

.recent-viewed .recent-count {
    width: 46px;
    height: 46px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0px;
    left: 0;
    background-image: url(../img/icon_latest.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;

}

.recent-viewed-wrapper .top-btn {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 50%;
    background: url(../img/scrollbtn_m.png) 100% center;
    background-size: 46px;
    /*opacity: 0.7;*/
    z-index: 100000;
}

header nav ul li:nth-child(2) a {
	border-bottom: 2px solid #ff6601;
}
