@charset "utf-8";


/*----------------------------
헤더
-----------------------------*/

.new-header-wrap {
	margin: 9px 10px 15px 10px;
	line-height: 40px;
}



.new-header div{
	display: inline-block;
}

.new-header .new-header-left h2 {
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	position: relative;
	top: 3px;
	margin-left: 10px;
}

.new-header .new-header-left a img {
	width: 22px;
	padding: 4px 18px 4px 4px;
	vertical-align: middle;
	border-right: 1px solid #ddd;
}

.new-header .new-header-right {
	float: right;
	margin-top: 12px;

}

.new-header .new-header-right a {
	margin: 0 7px;
}

.new-header .new-header-right a img {
	width: 24px;
}

/*----------------------------
섹션
-----------------------------*/


.new-section {
	padding: 10px 10px 0px 15px;

}

.new-banner img {
	width: 100%;
}


.new-section-top {
	margin: 15px 0px 25px 0px;
}


.new-section-top label img {
	width: 76px;
}

.new-section-mid {
	width: 100%;
}


.new-section-mid > div {
	display: inline-block;
	vertical-align: middle;
}

.new-total {
	position: relative;
	top: 10px;
}

.new-total span {
	font-weight: bold;
}


.select {
	float: right;
}

.select select {
	position: relative;
	top: 9px;
	border: 0;
	margin-right: 4px;
	background-color: #fff;
	vertical-align: top;
}


.select a img {
	width: 38px;
}

/*----------------------------
박스 - 갤러리
-----------------------------*/


.new-list-gallery-wrap {
    margin:6px;
    display: none;
}


.new-list-gallery ul li {
	display: block;
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 13px 5px;
	vertical-align: top;
	min-height:350px;
}



.box .img {

}

.box .img img {
    width: 100%;
}

.new-list-gallery .box .img img {
    border-radius: 4px;
}

.box .desc {
    padding: 15px 15px 0;
}

.box .desc p {
    margin-bottom: 4px;
}

.new-list-gallery .box .desc {
    padding: 0;
}

.box .desc .name {
    padding-bottom: 5px;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    width: 100%;
}

.new-list-gallery .box .desc .name {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.5;
 }

.box .desc .price {
    float: left;
    margin-right: 10px;
    line-height: 25px;
}

.new-list-gallery .box .desc .price {
    margin-right: 0;
}

.box .desc .price strong {
    font-size: 20px;
}

.new-list-gallery .box .desc .price strong {
    font-size: 16px;
}

.box .desc .delivery {
    float: left;
    width: 80px;
    line-height: 25px;
}

.new-list-gallery .box .desc .delivery {
    float: left;
    width: 70px;
    line-height: 25px;
}

.box .desc .rating {
    float: right;
    width: 120px;
    line-height: 25px;
    font-size: 11px;
    color: #666;
}

.new-list-gallery .box .desc .rating {
    float: none;
    clear: both;
}

.box .desc .delivery img {
    width: 100%;
    vertical-align: middle;
}

.box .desc .rating img {
    width: 70%;
    vertical-align: middle;
}

.box .desc .icon {

}

.box .desc .icon img {
    height: 20px;
    margin-right: 5px;
}

.box-list> .desc > .rating {
	font-size: 12px;
	color: #666;
}


/*----------------------------
박스 - 리스트
-----------------------------*/

.new-list-list-wrap {
	display: none;
	padding: 2px;
}

.new-list-list li {
	display: block;
	width: 100%;
	padding: 20px 10px 10px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #e6e6e6;
}

.box-list {

}


.box-list >div {
	float: left;
}

/*.box-list> .img {
	width: 35%;
}*/

.box-list> .desc {
	width: 58%;
	margin-left: 15px;
}

.box-list> .img> img {
	width: 100px;
	border-radius: 4px;
}

.box-list .delivery {
	width: 70px;
    vertical-align: middle;
}

.box-list .rating img {
	width: 80px;
}

.box-list> .desc > .name {
	font-size: 14px;
	line-height: 1.5;
}

.box-list> .desc > p {
	margin-bottom: 10px;
}

.box-list> .desc > .price {
	font-size: 17px;
}

.box-list> .desc > .icon img {
	width: 46.5px;
	margin-right: 1px;
}

.box-list> .desc > .icon >.mdpick {
	width: 54px;
	margin-right: 1px;
}

.box-list> .desc > .timer {
    color: #ff542a;
    font-size: 12px;
}




.active {
	display: block;
}

/*------------------
2021.1.1 수정 
--------------------*/

.search-account {
	background-color: #fff;
}
