@charset "utf-8";

body {
    font-size: 13px;
}

h2.title {
    position: relative;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

h2.title a {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: url(../../assets/img/kind_back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
}

#boardlist .board_header {
    text-align:center;
}

#boardlist .board_header:after {
    display:block;
    clear:both;
    content:'';
}

#boardlist .board_header img {
    width:100%;
}

#boardlist .list {
    
}

#boardlist .list li {
    padding:15px;
    border-bottom:1px solid #ddd;
}


#boardlist .list li .subject .stat {
    position:relative;
    color:#808080;
    line-height:16px;
    font-size: 12px;
}

#boardlist .list li .subject .stat * {
    color:inherit;
    font:inherit;
    line-height:inherit;
}

#boardlist .list li .subject .title {
    overflow: hidden;
    margin-top: 8px;
    color: #333;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#boardlist .list li .subject .title img {
    width:auto;
    height:10px;
    margin-top:2px;
    vertical-align:top;
}

#boardlist .more {
    padding:20px;
    text-align:center;
}

#boardlist .more img {
    width:55px;
}

/** 읽기 -------------------------*/

.board_title{
    padding: 30px 0 10px;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.wrap_inner{
    padding: 0;
}

#boardview > .info {
    margin: 20px 20px 0;
    background: #fff;
    border-bottom: 1px solid #eee;
}

#boardview > .info .subject {
    padding: 10px 0;
}

#boardview > .info .subject p {
    padding-top: 5px;
}

#boardview > .info .subject p:first-child {
    padding-top: 0;
}

#boardview > .info .subject .title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 1.4;
}

#boardview > .info .subject .stat {
    color:#666;
    font-size:13px;
}

#boardview > .boxview {
    padding:15px 20px;
    font-size:0.9rem;
    font-weight:500;
    line-height:24px;
}

#boardview > .boxview .content {
    word-break:break-all;
    word-wrap:break-word;
    font-weight:normal;
}

/*#boardview > .boxview .content * {
    font-family:inherit;
    font-size:inherit;
    text-align:inherit;
    line-height:inherit;
}*/

#boardview > .boxview .content img {
    max-width:100%;
    height:auto;
}



/** 버튼관련 css */
.box_btn > * {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 1.4;
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
    color: rgb(255, 255, 255) !important;
    margin: 0px;
    padding: 10px 12px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(75, 84, 94);
    border-image: initial;
    outline: none;
    background: rgb(75, 84, 94);
    transition: all 0.2s ease 0s;
    box-sizing: border-box;
}

.box_btn.white * {
    border-color: #ff6001;
    background: #fff;
    color: #ff6001 !important;
}

.box_btn.block > * {
    width: 100%;
}

.box_btn.large > * {
    padding: 13px 15px 12px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#boardview > .btn {
    margin:0 20px;
    padding:0 0 20px;
    text-align:right;
}

.box_btn.view_box_btn > * {
    border-color:#ccc;
    color:#000 !important;
}