<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WishMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="wishMap"
        type="study.spring.dak.model.Wish">
        <!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
        <result property="wishno" column="wishno" />
        <result property="memno" column="memno" />
        <result property="prdno" column="prdno" />
    </resultMap>
    
    

    <!-- 단일행 조회를 위한 기능 정의 -->
    <select id="selectItem"
        parameterType="study.spring.dak.model.Wish"
        resultMap="wishMap">
        SELECT * FROM wish WHERE memno=#{memno} AND prdno=#{prdno};
    </select>
    
    <!-- 단일행 조회를 위한 기능 정의 -->
    <select id="selectItemForDel"
        parameterType="study.spring.dak.model.Wish"
        resultMap="wishMap">
        SELECT * FROM wish WHERE wishno=#{wishno};
    </select>
    

    <!-- 다중행 조회를 위한 기능 정의 -->
    <select id="selectList"
        parameterType="study.spring.dak.model.Wish"
        resultMap="wishMap">
        SELECT * FROM wish w 
        INNER JOIN member m ON w.memno=m.memno 
        INNER JOIN product p ON w.prdno=p.prdno WHERE w.memno=#{memno} AND on_sale = 'Y';
        
        <!-- <if test="listCount > 0">
            LIMIT #{offset}, #{listCount}
        </if> -->
    </select>
    

    <!-- 데이터 저장을 위한 기능 정의 -->
    <insert id="insertItem"
        parameterType="study.spring.dak.model.Wish"
        useGeneratedKeys="true"
        keyProperty="wishno">
        INSERT INTO wish (memno, prdno) VALUES (#{memno}, #{prdno});
    </insert>
    

    <!-- 데이터 삭제를 위한 기능 정의 -->
    <delete id="deleteItem"
        parameterType="study.spring.dak.model.Wish">
        DELETE FROM wish WHERE wishno=#{wishno};
    </delete>

    
    <!--
        조건에 맞는 데이터 수를 집계하여 int 타입으로 반환한다.
        count, max, min, sum, avg 함수를 사용한 경우 Mapper에서는
        resultMap이 아닌 resultType으로 반환한다.
    -->
    <!-- 중복 상품이 있는지 확인하려는 카운트 기능 -->
    <select id="selectCountExist" 
            parameterType="study.spring.dak.model.Wish"
            resultType="int">
        SELECT COUNT(*) FROM wish WHERE memno=#{memno} AND prdno=#{prdno};
        
    </select>
    
    <!-- 회원 탈퇴시 위시 삭제를 위한 기능 정의 -->
    <delete id="deleteOutMemberWish"
        parameterType="study.spring.dak.model.Member">
        DELETE FROM wish WHERE memno=#{memno};
    </delete>

</mapper>
